/* ---- Ajustes globais do toggle ---- */

.toggle-container {
  position: relative;
  width: 210px;
  height: 50px;
  padding: 3px;
  background: #0d0d0d;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.5),
              0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.toggle-inner {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  background: #1b1c1c;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease-in-out;
}

.toggle-inner::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-left: 10px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
  /* glow vermelho */
  box-shadow: 0 0 5px 2px rgba(165, 15, 15, 0.9),
              0 0 3px 1px rgba(165, 15, 15, 0.9);
  transition: all 0.5s ease-in-out;
}

.toggle-inner i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 24px;
  background: #0d0d0d;
  border-radius: 2px;
  margin-top: -12px;
  margin-left: -1.5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.toggle-inner i::before,
.toggle-inner i::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.toggle-inner i::before {
  left: -7px;
}

.toggle-inner i::after {
  left: 7px;
}

/* ---- Estado ativado ---- */
.toggle-input:checked + .toggle-inner {
  left: 50%;
}

.toggle-input:checked + .toggle-inner::before {
  /* glow verde */
  box-shadow: 0 0 5px 2px rgba(15, 165, 70, 0.9),
              0 0 3px 1px rgba(15, 165, 70, 0.9);
}
